/* REGOLE COMUNI */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* MAIN */
main {
  display: flex;
  width: 100vw;
  height: calc(100vh - 80px);
  background-color: black;
}
#main_nav {
  padding: 20px;
  width: 300px;
  height: 100%;
  background-color: lightcoral;
}
#main_content {
  padding: 20px;
  width: calc(100% - 300px);
  background-color: darkred;
}

/* FOOTER */
footer {
  width: 100vw;
  height: 80px;
  background-color: brown;
}
