/* COLORI */
/* Blu di sfondo al main content #141922 */

/* REGOLE COMUNI */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  color: white;
}
.uppercase_semibold {
  text-transform: uppercase;
  font-weight: 600;
}
.list_unstyled {
  list-style: none;
}
.a_unstyled {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}
.a_unstyled:hover {
  opacity: 1;
}
.ico_margin {
  margin-right: 10px;
}
h1 {
  font-size: 26px;
  margin-left: 0.8%;
}
h2 {
  font-size: 18px;
  margin-top: 5px;
}

/* MAIN */
/* MAIN_NAV */
#main_nav {
  position: fixed;
  left: 0;
  height: calc(100vh - 80px);
  width: 250px;
  /* informazioni flex */
  display: flex;
  flex-direction: column;
  /* sfondo */
  background-color: black;
}
/* main nav header */
#main_nav_header {
  width: 100%;
  padding: 20px;
  /* sfondo */
  background-color: black;
  z-index: 2;
}
#main_nav_header img {
  max-width: 160px;
}
#main_nav_header ul {
  margin: 20px 0;
}
#main_nav_header ul li:first-child {
  margin-left: -20px;
  padding-left: 17px;
  border-left: 3px solid lightgreen;
}
#main_nav_header ul li:first-child a {
  opacity: 1;
}
#main_nav_header i {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}
#main_nav_header li {
  position: relative;
}
#main_nav_header span {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#crea_playlist {
  position: relative;
}
#crea_playlist i {
  font-size: 40px;
}
#crea_playlist p {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
/* main nav middle */
#main_nav_middle {
  width: 100%;
  /* provato con Gianluca ma non funziona */
  flex-shrink: 0;
  padding: 0 20px;
  overflow-y: auto;
}
#main_nav_middle li {
  margin: 10px 0;
}
/* main nav footer */
#main_nav_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  /* sfondo */
  background-color: black;
}
#main_nav_footer a {
  line-height: 30px;
}
#user {
  position: relative;
  padding-top: 10px;
  border-top: 1px solid white;
}
#user img {
  height: 30px;
  border-radius: 50%;
}
#user span {
  position: absolute;
  /* non ho capito perchè ma è centrato solo con il 55% */
  top: 55%;
  transform: translate(0, -50%);
}

/* MAIN_CONTENT */
#main_content {
  position: fixed;
  right: 0;
  height: calc(100vh - 80px);
  width: calc(100vw - 250px);
  overflow-y: auto;
  /* sfondo */
  background-color: black;
}
/* main content header */
#main_content_header {
  position: fixed;
  top: 0;
  height: 80px;
  width: calc(100vw - 250px);
  /* informazioni flex */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* sfondo */
  background: linear-gradient(0deg, rgba(20, 25, 34, 0.8), rgba(20, 25, 34, 1));
  z-index: 2;
}
#main_content_header input {
  margin-right: 20px;
  padding: 10px 30px;
  border-radius: 20px;
  /* sfondo */
  background-color: transparent;
  border: 1px solid white;
}
#main_content_header input:hover {
  /* se aumento la font size il pulsante si ingrandisce e si sposta solo da destra */
}
/* main content top */
#main_content_top {
  width: 100%;
  margin-top: 80px;
  padding: 20px;
  /* sfondo */
  background-color: #141922;
}
#main_content_top ul {
  /* informazioni flex */
  display: flex;
  justify-content: center;
}
#main_content_top ul li {
  margin: 0 10px;
}
#main_content_top ul li:first-child::after {
  position: relative;
  left: 30%;
  top: 5px;
  content: "";
  display: block;
  height: 3px;
  width: 40%;
  background-color: lightgreen;
}
#main_content_top ul li:first-child a {
  opacity: 1;
}
/* main content bottom */
#main_content_bottom {
  width: 100%;
  padding: 20px;
  /* informazioni flex */
  display: flex;
  flex-flow: column wrap;
  /* sfondo */
  background-color: #141922;
}
#main_content_bottom p {
  margin-top: 5px;
  margin-left: 0.8%;
  opacity: 0.5;
}
.item_row {
  text-align: center;
  margin-bottom: 20px;
  /* informazioni flex */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.single_item {
  margin-top: 20px;
  margin-left: 0.8%;
  margin-right: 0.8%;
  width: 15%;
}
.ico_div {
  position: relative;
}
.single_item i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  font-size: 56px;
}
.single_item:hover img {
  cursor: pointer;
  opacity: 0.5;
}
.single_item:hover i {
  cursor: pointer;
  visibility: visible;
}
.single_item img {
  max-width: 100%;
}
/* media query per rendere responsive il main in larghezza */
/* dispositivi lg */
@media screen and (min-width: 1201px) {}
/* dispositivi md */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .single_item {
    width: 24%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
}
/* dispositivi sm */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .single_item {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
/* dispositivi xs */
@media screen and (max-width: 768px) {
  .single_item {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
  /* qua devo far restringere la navbar */
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100vw;
  padding: 20px;
  background-color: brown;
}
