/* COLORI */
/* Blu di sfondo al main content #141922 */
/* Colore di sfondo Footer #282828 */

/* REGOLE COMUNI */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  color: white;
}
.uppercase_semibold {
  text-transform: uppercase;
  font-weight: 600;
}
.list_unstyled {
  list-style: none;
}
.a_unstyled {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}
.a_unstyled:hover {
  opacity: 1;
}
.ico_margin {
  margin-right: 10px;
}
h1 {
  font-size: 26px;
  margin-left: 0.8%;
}
h2 {
  font-size: 18px;
  margin-top: 5px;
}

/* MAIN */
/* MAIN_NAV */
#main_nav {
  position: fixed;
  left: 0;
  height: calc(100vh - 80px);
  width: 250px;
  /* informazioni flex */
  display: flex;
  flex-direction: column;
  /* sfondo */
  background-color: black;
}
/* main nav header */
#main_nav_header {
  width: 100%;
  padding: 20px;
  /* sfondo */
  background-color: black;
  z-index: 2;
}
#main_nav_header img:nth-of-type(1) {
  display: none;
}
#main_nav_header img:nth-of-type(2) {
  max-width: 160px;
}
#main_nav_header ul {
  margin: 20px 0;
}
#main_nav_header ul li:first-child {
  margin-left: -20px;
  padding-left: 17px;
  border-left: 3px solid lightgreen;
}
#main_nav_header ul li:first-child a {
  opacity: 1;
}
#main_nav_header i {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}
#main_nav_header li {
  position: relative;
}
#main_nav_header span {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#crea_playlist {
  position: relative;
}
#crea_playlist i {
  font-size: 40px;
}
#crea_playlist p {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
/* main nav middle */
#main_nav_middle {
  width: 100%;
  height: calc(50% - 115px);
  padding: 0 20px;
  overflow-y: auto;
  /* sfondo */
  background-color: black;
  z-index: 2;
}
#main_nav_middle li {
  margin: 10px 0;
}
/* main nav footer */
#main_nav_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
}
#main_nav_footer a {
  line-height: 30px;
}
#user {
  position: relative;
  padding-top: 10px;
  border-top: 1px solid white;
}
#user img {
  height: 30px;
  border-radius: 50%;
}
#user span {
  position: absolute;
  /* non ho capito perchè ma è centrato solo con il 55% */
  top: 55%;
  transform: translate(0, -50%);
}
/* dispositivi xs */
@media screen and (max-width: 768px) {
  .ico_margin {
    margin-right: 0;
  }
  #main_nav {
    width: 50px;
  }
  #main_nav_header {
    padding: 0;
    /* istruzioni flex */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    /* sfondo */
    background-color: transparent;
  }
  #main_nav_header ul {
    margin: 0;
  }
  #main_nav_header ul li:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: 0px;
  }
  #main_nav_header img:nth-of-type(1) {
    display: block;
    margin-top: 5px;
    max-width: 35px;
  }
  #main_nav_header img:nth-of-type(2) {
    display: none;
  }
  #main_nav span {
    display: none;
  }
  #main_nav h3 {
    display: none;
  }
  #crea_playlist {
    display: none;
  }
  #main_nav_middle {
    display: none;
  }
  #main_nav_footer a {
    display: none;
  }
  #user {
    padding-top: 0;
    border-top: 0;
    /* istruzioni flex */
    display: flex;
    flex-direction: column;
  }
  #user img {
    align-self: center;
  }
}

/* MAIN_CONTENT */
#main_content {
  position: fixed;
  right: 0;
  height: calc(100vh - 80px);
  width: calc(100vw - 250px);
  overflow-y: auto;
  /* sfondo */
  background-color: black;
}
/* main content header */
#main_content_header {
  position: fixed;
  top: 0;
  height: 80px;
  width: calc(100vw - 250px);
  /* informazioni flex */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* sfondo */
  background: linear-gradient(0deg, rgba(20, 25, 34, 0.8), rgba(20, 25, 34, 1));
  z-index: 2;
}
#main_content_header input {
  margin-right: 20px;
  padding: 10px 30px;
  border-radius: 20px;
  /* sfondo */
  background-color: transparent;
  border: 1px solid white;
}
#main_content_header input:hover {
  /* se aumento la font size il pulsante si ingrandisce e si sposta solo da destra */
}
/* dispositivi xs */
@media screen and (max-width: 768px) {
  #main_content {
    width: calc(100vw - 50px);
  }
  #main_content_header {
    width: calc(100vw - 50px);
  }
}
/* main content top */
#main_content_top {
  width: 100%;
  margin-top: 80px;
  padding: 20px;
  /* sfondo */
  background-color: #141922;
}
#main_content_top ul {
  /* informazioni flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#main_content_top ul li {
  margin: 5px 10px;
}
#main_content_top ul li:first-child::after {
  position: relative;
  left: 30%;
  top: 5px;
  content: "";
  display: block;
  height: 3px;
  width: 40%;
  background-color: lightgreen;
}
#main_content_top ul li:first-child a {
  opacity: 1;
}
/* main content bottom */
#main_content_bottom {
  width: 100%;
  padding: 20px;
  /* informazioni flex */
  display: flex;
  flex-flow: column wrap;
  /* sfondo */
  background-color: #141922;
}
#main_content_bottom p {
  margin-top: 5px;
  margin-left: 0.8%;
  opacity: 0.5;
}
.item_row {
  text-align: center;
  margin-bottom: 20px;
  /* informazioni flex */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.single_item {
  width: calc(100% / 6);
  margin-top: 20px;
  padding: 10px;
}
.ico_div {
  position: relative;
}
.single_item i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  font-size: 56px;
}
.single_item:hover img {
  cursor: pointer;
  opacity: 0.5;
}
.single_item:hover i {
  cursor: pointer;
  visibility: visible;
}
.single_item img {
  max-width: 100%;
}
/* dispositivi md */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .single_item {
    width: calc(100% / 4);
  }
}
/* dispositivi sm */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .single_item {
    width: calc(100% / 2);
  }
}
/* dispositivi xs */
@media screen and (max-width: 768px) {
  .single_item {
    width: calc(100% / 2);
  }
  /* qua devo far restringere la navbar */
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100vw;
  /* istruzioni flex */
  display: flex;
  justify-content: space-between;
  /* sfondo */
  background-color: #282828;
}
/* parte sinistra */
#footer_left {
  position: relative;
  height: 100%;
  width: 250px;
  padding: 10px;
  /* istruzioni flex */
  display: flex;
  align-items: center;
  /* sfondo */
  background-color: darkred;
}
#footer_left img {
  width: 60px;
}
#footer_left div:nth-of-type(1) {
  margin-left: 10px;
}
#footer_left div:nth-of-type(1) a {
  font-size: 11px;
}
#footer_left div:nth-of-type(2) {
  margin: auto;
  margin-right: 0;
  /* non riesco a centrare le due cazzo di icone con flex.. */
}
/* parte centrale */
#footer_center {
  height: 100%;
  width: 40%;
  background-color: lightgreen;
}
#footer_center_top {
  height: 50%;
  padding: 10px;
  background-color: green;
}
#footer_center_bottom {
  height: 50%;
  padding: 10px;
  background-color: darkgreen;
}
/* parte destra */
#footer_right {
  position: relative;
  height: 100%;
  width: 250px;
  padding: 10px;
  /* istruzioni flex */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* sfondo */
  background-color: lightcoral;
}
.line_opacity {
  height: 3px;
  background-color: white;
  opacity: 0.5;
}
.line {
  height: 3px;
  background-color: white;
}
#footer_right .line_opacity {
  width: 100px;
}
#footer_right .line {
  width: 30px;
}
