/* COLORI */
/* Blu scuro di sfondo all'header #080B12 */
/* Blu di sfondo al main content #141922 */

/* REGOLE COMUNI */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  color: white;
}
.uppercase_semibold {
  text-transform: uppercase;
  font-weight: 600;
}
.single_item {
  width: 100px;
  height: 100px;
  text-align: center;
}
.single_item img {
  max-width: 100px;
  height: auto;
}
.list_unstyled {
  list-style: none;
}
.a_unstyled {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}
.a_unstyled:hover {
  opacity: 1;
}
.ico_margin {
  margin-right: 10px;
}

/* MAIN */
/* MAIN_NAV */
#main_nav {
  position: fixed;
  left: 0;
  height: calc(100vh - 80px);
  width: 250px;
  /* informazioni flex */
  display: flex;
  flex-direction: column;
  /* sfondo */
  background-color: black;
}
/* main nav header */
#main_nav_header {
  width: 100%;
  padding: 20px;
  /* sfondo */
  background-color: black;
  z-index: 2;
}
#main_nav_header img {
  max-width: 160px;
}
#main_nav_header ul {
  margin: 20px 0;
}
#main_nav_header i {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}
#main_nav_header li {
  position: relative;
}
#main_nav_header span {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#crea_playlist {
  position: relative;
}
#crea_playlist i {
  font-size: 40px;
}
#crea_playlist p {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
/* main nav middle */
#main_nav_middle {
  width: 100%;
  padding: 0 20px;
  overflow-y: auto;
}
#main_nav_middle li {
  margin: 10px 0;
}
/* main nav footer */
#main_nav_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  /* sfondo */
  background-color: black;
}
#main_nav_footer a {
  margin-bottom: 10px;
}
#main_nav_footer p {
  padding-top: 10px;
  border-top: 1px solid white;
}

/* MAIN_CONTENT */
#main_content {
  position: fixed;
  right: 0;
  height: calc(100vh - 80px);
  width: calc(100vw - 250px);
  overflow-y: auto;
  background-color: white;
}
#main_content_header {
  position: fixed;
  top: 0;
  height: 80px;
  width: calc(100vw - 250px);
  padding: 20px;
  /* sfondo */
  background-color: lightgreen;
  opacity: 0.75;
}
#main_content_top {
  width: 100%;
  margin-top: 80px;
  padding: 20px;
  /* sfondo */
  background-color: green;
}
#main_content_bottom {
  width: 100%;
  padding: 20px;
  /* sfondo */
  background-color: darkgreen;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100vw;
  padding: 20px;
  background-color: brown;
}
