/* COLORI */
/* Blu scuro di sfondo all'header #080B12 */
/* Blu di sfondo al main content #141922 */

/* REGOLE COMUNI */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
}
.uppercase_semibold {
  text-transform: uppercase;
  font-weight: 600;
}
.single_item {
  width: 100px;
  height: 100px;
  text-align: center;
}
.single_item img {
  max-width: 100px;
  height: auto;
}
.list_unstyled {
  list-style: none;
}
.a_unstyled {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}
.a_unstyled:hover {
  opacity: 1;
}

/* MAIN */
/* MAIN_NAV */
#main_nav {
  position: fixed;
  left: 0;
  height: calc(100vh - 80px);
  width: 250px;
  /* informazioni flex */
  display: flex;
  flex-direction: column;
  /* sfondo */
  background-color: black;
}
/* main nav header */
#main_nav_header {
  width: 100%;
  padding: 20px;
  /* sfondo */
}
#main_nav_header img {
  max-width: 210px;
}
#main_nav_header h3 {
  color: white;
}
/* main nav middle */
#main_nav_middle {
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  /* sfondo */
  background-color: white;
  opacity: 0.5;
}
/* main nav footer */
#main_nav_footer {
  /* height: 80px; */
  width: 100%;
  padding: 20px;
  /* sfondo */
  background-color: white;
  opacity: 0.6;
}

/* MAIN_CONTENT */
#main_content {
  position: fixed;
  right: 0;
  height: calc(100vh - 80px);
  width: calc(100vw - 250px);
  overflow-y: auto;
  background-color: green;
}
#main_content_header {
  position: fixed;
  top: 0;
  height: 80px;
  width: calc(100vw - 250px);
  padding: 20px;
  /* sfondo */
  background-color: white;
  opacity: 0.4;
}
#main_content_top {
  width: 100%;
  margin-top: 80px;
  padding: 20px;
  /* sfondo */
  background-color: white;
  opacity: 0.5;
}
#main_content_bottom {
  width: 100%;
  padding: 20px;
  /* sfondo */
  background-color: white;
  opacity: 0.6;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100vw;
  padding: 20px;
  background-color: brown;
}
